@model MVC_One.Models.TaskModel[]

@{
    ViewData["Title"] = "Tasks List";

    var TasksList = Model;
}

<h1>All Tasks</h1>

<ul>
    @foreach (var t in TasksList){
    <li>@t.Name - @t.Progress%</li>
}
</ul>